stages:
  - forecast

forecast_job:
  stage: forecast
  image: python:3.11-slim

  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - .venv/
      - .cache/pypoetry/

  before_script:
    - python --version
    - pip install --no-cache-dir poetry
    - poetry config virtualenvs.in-project true

  script:
    - poetry install --no-interaction --no-root
    - poetry run python forecasting_bot.py --mode tournament --tournament spring-2026-ai minibench

  rules:
    # Run if triggered manually
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: on_success

    # Run if triggered by schedule
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success

    # Otherwise do not run (prevents running on every push)
    - when: never
